#body {
    margin: 0;
    padding: 0;
}

#header a {
    color: #fff;
}

.king {
    width: 100%;
    height: 500px;
}

.card {
    left: 45px;
}

#carousel {
    position: relative;
    /*Para que se adapte a la pantalla*/
}

.overlay {
    position: absolute;
    /* Para que se adapta al caruosel*/
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFD60A;
}

.navbar-toggler {
    background-color: #ffffff;
}

#logo {
    max-width: 50px;
}

#footer {
    background-color: #efefef;
}

#carousel {
    max-height: 80vh;
    object-fit: cover;
    filter: sepia(50%);
    max-width: 100%;
    position: relative;
}

#evento-marca {
    background-color: #000000;
    color: #FFD60A;
}

#evento-marca img {
    background-color: #FFD60A;
    color: #000000;
    max-width: 100%;
}